<section class="section-footer desktop-visible">
    <div class="container text-left">
        <div class="row">
            <div class="container">
                <div class="row footer-firstrow">
                    <div class="col-12 first-col">
                         <img src="/assets/images/footer_label.png" class="group629"  alt="SportsBuzz11">
                        <p class="footer-conetnt space-row footer-btm-text">
                        A globally recognized sports content platform covering the world's biggest sports and esports subjects for die-hard sports enthusiasts.
                        </p>
                        <div class="row foote_ser">
                            <div class="col-12 col-sm-4 foot_cric">
                                <p class="footer-conetnt"><a class="hyperlink" routerLink="/cricket" (click)="gotoSection()">Cricket</a></p>
                            </div>
                            <div class="col-12 col-sm-4 foot_cric">
                                <p class="footer-conetnt"><a class="hyperlink" routerLink="/football" (click)="gotoSection()">Football</a></p>
                            </div>
                            <div class="col-12 col-sm-4 foot_cric">
                                <p class="footer-conetnt"><a class="hyperlink" routerLink="/kabaddi" (click)="gotoSection()">Kabaddi</a></p>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-12 col-sm-1 second-col">
                        <div class="section-more-mobile">
                            <p class="footer-conetnt"><a class="hyperlink" routerLink="/aboutus" (click)="gotoSection()">About Us</a></p>
                         </div>
                         <div class="section-more-mobile">
                            <p class="footer-conetnt"><a class="hyperlink" routerLink="/contactus" (click)="gotoSection()">Contact Us</a></p>
                         </div>
                         <div class="section-more-mobile">
                            <p class="footer-conetnt"><a  class="hyperlink" routerLink="/faq" (click)="gotoSection()">FAQ</a></p>
                         </div>
                         <div class="section-more-mobile">
                            <p class="footer-conetnt">Blog</p>
                         </div>
                    </div>
                    
                    <div class="col-12 col-sm-2 third-col">
                        <div class="section-more-mobile">
                            <p class="footer-conetnt"><a class="hyperlink" routerLink="/privacypolicy" (click)="gotoSection()">Privacy Policy</a></p>
                         </div>
                         <div class="section-more-mobile">
                            <p class="footer-conetnt"><a class="hyperlink" routerLink="/termsandcondition" (click)="gotoSection()">Terms & Conditions</a></p>
                         </div>
                         <div class="section-more-mobile">
                            <p class="footer-conetnt"><a class="hyperlink" routerLink="/refund" (click)="gotoSection()">Refund Policy</a></p>
                         </div>
                         <div class="section-more-mobile">
                            <p class="footer-conetnt"><a class="hyperlink" routerLink="/legality" (click)="gotoSection()">Legality</a></p>
                         </div>
                    </div>
                    <div class="col-12 col-sm-2 four-col">
                        <div class="section-more-mobile">
                            <p class="footer-conetnt">Download the app</p>
                         </div>

                         <div class="download-links for-desktop foot_appimg1">
                            <a href="https://play.google.com/store" target="_blank"><img src="/assets/images/android_icon.png" class="img-fluid and_ic"></a>
                            <a href="https://www.apple.com/in/app-store/" target="_blank"><img src="/assets/images/app-store.png" class="img-fluid me-2 and_ic"></a>
                            
                        </div>


                         <!-- <div class="section-more-mobile foot_appimg">
                            <img src="/assets/images/image3.png" class="group629"  alt="SportsBuzz11">
                         </div>
                         <div class="section-more-mobile foot_appimg">
                            <img src="/assets/images/image2.png" class="image2"  alt="SportsBuzz11">
                         </div> -->
                    </div>
                    <div class="col-12 col-sm-2 five-col">
                        <div class="section-more-mobile">
                            <p class="footer-conetnt">Connect with us</p>
                        </div>

                       <div class="row">
                            <div class="col-12 col-sm-3 footer-social-blocks">
                                <a href="https://www.facebook.com/profile.php?id=100083660843444" target="_blank"> <img src="/assets/images/facebook.png" class="group629"  alt="SportsBuzz11"></a>
                            </div>
                            <div class="col-12 col-sm-4 footer-social-blocks">
                                <a href="https://www.instagram.com/?hl=en" target="_blank"><img src="/assets/images/twitter.png" class="group629"  alt="SportsBuzz11"></a>
                            </div>
                            <div class="col-12 col-sm-4 footer-social-blocks">
                                <a href="https://twitter.com/home" target="_blank"> <img src="/assets/images/instagram.png" class="group629"  alt="SportsBuzz11"></a>
                            </div>
                            <div class="col-12 col-sm-1 footer-social-blocks">
                                <a href="https://www.youtube.com/channel/UCG2tzXkYXZfAL87PipjgxZA" target="_blank"> <img src="/assets/images/youtube.png" class="group629"  alt="SportsBuzz11"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>