<section class="section-footer desktop-visible">
    <div class="container text-left">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4 first-col">
                         <img src="/assets/images/footer_label.png" class="group629"  alt="SportsBuzz11">
                        <p class="footer-conetnt space-row">
                            A globally recognized sports content platform covering the world's biggest sports and esports subjects for die-hard sports enthusiasts.
                        </p>
                        <div class="row">
                            <div class="col-12 col-sm-3">
                                <p class="footer-conetnt">Cricket</p>
                            </div>
                            <div class="col-12 col-sm-3">
                                <p class="footer-conetnt">Football</p>
                            </div>
                            <div class="col-12 col-sm-3">
                                <p class="footer-conetnt">Kabaddi</p>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-12 col-sm-1 second-col">
                        <section class="section-more-mobile">
                            <p class="footer-conetnt"><a class="hyperlink" routerLink="/aboutus">About us</a></p>
                         </section>
                         <section class="section-more-mobile">
                            <p class="footer-conetnt"><a class="hyperlink" routerLink="/contactus">Contact Us</a></p>
                         </section>
                         <section class="section-more-mobile">
                            <p class="footer-conetnt"><a  class="hyperlink" routerLink="/faq">FAQ</a></p>
                         </section>
                         <section class="section-more-mobile">
                            <p class="footer-conetnt">Blog</p>
                         </section>
                    </div>
                    
                    <div class="col-12 col-sm-2 third-col">
                        <section class="section-more-mobile">
                            <p class="footer-conetnt"><a class="hyperlink" routerLink="/privacypolicy">Privacy Policy</a></p>
                         </section>
                         <section class="section-more-mobile">
                            <p class="footer-conetnt"><a class="hyperlink" routerLink="/termsandcondition">Terms & Conditions</a></p>
                         </section>
                         <section class="section-more-mobile">
                            <p class="footer-conetnt">Refund Policy</p>
                         </section>
                         <section class="section-more-mobile">
                            <p class="footer-conetnt">Legality</p>
                         </section>
                    </div>
                    <div class="col-12 col-sm-2">
                        <section class="section-more-mobile">
                            <p class="footer-conetnt">Download the app</p>
                         </section>
                         <section class="section-more-mobile">
                            <img src="/assets/images/image3.png" class="group629"  alt="SportsBuzz11">
                         </section>
                         <section class="section-more-mobile">
                            <img src="/assets/images/image2.png" class="image2"  alt="SportsBuzz11">
                         </section>
                    </div>
                    <div class="col-12 col-sm-2">
                        <section class="section-more-mobile">
                            <p class="footer-conetnt">Connect with us</p>
                        </section>

                       <div class="row">
                            <div class="col-12 col-sm-3">
                                <img src="/assets/images/facebook.png" class="group629"  alt="SportsBuzz11">
                            </div>
                            <div class="col-12 col-sm-4">
                                <img src="/assets/images/twitter.png" class="group629"  alt="SportsBuzz11">
                            </div>
                            <div class="col-12 col-sm-4">
                                <img src="/assets/images/instagram.png" class="group629"  alt="SportsBuzz11">
                            </div>
                            <div class="col-12 col-sm-1">
                                <img src="/assets/images/youtube.png" class="group629"  alt="SportsBuzz11">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>