.about-section {
    padding: 50px;
    text-align: left;
    margin-top: 45px;

  }

  *{line-height: 34px;
    font-size: 17px;}

    .privacy_polic h1 {
      font-size: 24px;
  }

  tr.fany td {
    padding: 10px;
}

  .contact_about {
    font-size: 30px;
    text-align: left; 
    font-weight: 700;
  }
  .contact_aboutuse{
    font-size: 23px;
    text-align: left; 
    font-weight: 700;
  }


  .kabaddi_main {
    font-weight: 800;
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    padding: 25px;
  
  }
  
  /* .kabaddi_play .para {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
  } */
  /* .kabaddi_play ul {
    width: 80%;
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
  }
  .kabaddi_play ul li {
  
    text-align: left;
    margin: 8px auto;
    font-size: 18px;
  } */
  
  .fantasy_football{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 15px;
    margin: 20px auto;
  
  }
  
  .fantasy_football tr {
    border: 1px solid black;
  }
  
  .fantasy_football td {
    //border: 1px solid black;
    border: 3px solid black;
    border-style: double;
    width: 50%;
    padding: 10px;
  }
  
  .para_batt{
    width: 100%;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    padding: 6px;
  }
  
  
  .player_com p {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    
  }
  // .fantasy_football p{
  //   padding: 10px;
  // }

  .para_batt{
    width: 100%;
    text-align: left;
    margin: 0 auto;
    color: #2e69be;
    padding: 6px;
    font-weight: 500;
    font-size: 20px;
  }
  
  /* .kabaddi_play{
    text-align: center;
    margin: 0 auto;
    display: block;
    background-color: #f4f4f4;
  
  } */

  .contact_title {
    font-size: 30px;
    text-align: left;
  //  padding: 25px;
    font-weight: 700;
}
  
  .list-group-item {
    border: 0px solid !important;
  }
  .content_kobaddi {
    font-size: 15px;
    font-weight: 600;
  }
  .fantasy_gaming {
    padding-left: 15px;
  }
  .link_to{
    text-decoration: none;
    font-weight: 500;
  }
  .kabaddi_list{
    color: #0d6efd !important;
    font-weight: 600;
    font-size: 16px;
  }
  
  .faqs_paragraph_about{
    width: 100%;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
  }
  @media screen and (max-width: 600px) {
    .fantasy_gaming {
      padding-left: 0px;
    }
  }
  