<section class="section-footer desktop-visible">
    <div class="container text-left">
        <div class="row">

            <div class="about-section">
              
                <div class="kabaddi_main">
                    <h3>Fantasy Kabaddi </h3>
                    
                            </div>
                    
                            <div class="kabaddi_play">
                    <p class="para">You have to start making your team on SportsBuzz11 for Fantasy Kabaddi match by selecting 7 players out of which a maximum of 5 can be from one team out of the teams playing the real-life match.  
                     </p>
                    
                     <p class="para">You can have various compositions of players for your own team with only two conditions applied; It should be within 100 credit cap and it must satisfy the given criteria below: -   
                     </p>
                    
                    
                     <table border="1" class="fantasy_football">
                        <tbody>
                            <tr>
                                <td>
                                   
                                    <div>
                                        <div>
                                            <p>Specialty&nbsp;of Player&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    
                                    <div>
                                        <div>
                                            <p>Minimum&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    
                                    <div>
                                        <div>
                                            <p>Maximum&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <div>
                                        <div>
                                            <p>Raider (Raid)&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                   
                                    <div>
                                        <div>
                                            <p>01&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    
                                    <div>
                                        <div>
                                            <p>03&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <div>
                                        <div>
                                            <p>All-rounder (Allr)&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                  
                                    <div>
                                        <div>
                                            <p>01&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    
                                    <div>
                                        <div>
                                            <p>02&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <div>
                                        <div>
                                            <p>Defender (Def)&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    
                                    <div>
                                        <div>
                                            <p>02&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    
                                    <div>
                                        <div>
                                            <p>+4&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="player_com">
                        <p>Captain and Vice-Captain Points </p>
                        <p>After the selection of 7 players for your team, you have to select the Captain and Vice-Captain for your team among the players you selected. This decision is very crucial as </p>
                        <p>The captain brings 2X points scored by him in actual match.  </p>
                        <p>The vice-captain brings 1.5X points scored by him in actual match. </p>
                    
                    </div>
                    
                    <h5 class="para_batt">Fantasy Kabaddi points-system</h5>
                    <p class="para_batt">Raiding Points </p>
                    
                    <table border="1" class="fantasy_football">
                        <tbody>
                            <tr>
                                <td>
                                   
                                    <div>
                                        <div>
                                            <p>Each successful raid touch point&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                  
                                    <div>
                                        <div>
                                            <p>+4&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                 
                                    <div>
                                        <div>
                                            <p>Raid bonus&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                   
                                    <div>
                                        <div>
                                            <p>+2&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <div>
                                        <div>
                                            <p>Each unsuccessful raid&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                   
                                    <div>
                                        <div>
                                            <p>-1&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   
                                    <div>
                                        <div>
                                            <p>Getting all out (starting 7)&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    
                                    <div>
                                        <div>
                                            <p>-2&nbsp;</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <p class="para_batt">Defending Points </p>
                    <table border="1" class="fantasy_football">
                        <tbody>
                            <tr>
                                <td>
                             
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                Each successful tackle
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                             
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                +5
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                Pushing all out (starting 7)
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                 
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                +3
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                Super tackle
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                +4
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <p class="para_batt">Other Points </p>
                    <table border="1" class="fantasy_football">
                        <tbody>
                            <tr>
                                <td>
                                
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                Being part of the starting 7
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                   
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                +4
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                Captain
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                   
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                2X
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                Vice-captain
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                  
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                1.5X
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="para_batt">Cards and team points</p>
                     
                    <table border="1" class="fantasy_football">
                        <tbody>
                            <tr>
                                <td>
                    
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                Getting all out (starting7)
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                    
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                -2
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                    
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                Pushing all out (starting 7)
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                    
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                +3
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                    
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                Green card
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                 
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                -2
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                    
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                Red card
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                  
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                -6
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                 
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                Yellow card
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                   
                                    <div>
                                        <div>
                                            <p lang="EN-US">
                                                -4
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    
                    <div class="player_com">
                        <p lang="EN-US">
                            Other Important Points
                        </p>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <p lang="EN-US">
                                    If a player has been announced in the starting 7 but doesn’t
                                    play the match, then no points will be scored by him. The
                                    player who plays as his replacement will score the points
                                    including the point for being the part of starting 7.
                                </p>
                            </li>
                            <li>
                                <p lang="EN-US">
                                    The points for being a substitute will only be given for the
                                    first time the player enters the field.
                                </p>
                            </li>
                            <li>
                                <p lang="EN-US">
                                    The raid touch points will be given for each opponent the
                                    raider gets out.
                                </p>
                            </li>
                            <li>
                                <p lang="EN-US">
                                    The points for getting the whole opposition team out will only
                                    be given to the players who are part of the starting 7.
                                </p>
                            </li>
                            <li>
                                <p lang="EN-US">
                                    Negative points for getting all out will only be given to the
                                    players who are part of the starting 7.
                                </p>
                            </li>
                            <li>
                                <p lang="EN-US">
                                    The points deducted for red card includes the yellow and green
                                    card deductions and similarly the yellow card deductions
                                    include the points for green card.
                                </p>
                            </li>
                        </ul>
                    </div>
                    
                    
                    
                    
                    
                    
                    </div>
                    

            
            </div>



          

        </div>
    </div>
</section>