<section class="section-footer desktop-visible">
    <div class="container text-left">
        <div class="row">

            <div class="about-section">

        
                    <div class="footballs">
                    
                        <h4>What Is Fantasy Football?</h4>
                        <p>
                        You have to start by picking players for your Fantasy football team. You have to make a team of 11 players, out of which only 7 can be from one team among the teams playing in the actual match.
                        </p>
                        <div>
                      <p>Player Composition&nbsp;</p>
                    </div>
                    <div>
                      <ul>
                          <li>
                              <p>You have to select your Fantasy team for a maximum of 100 credit points only.&nbsp;</p>
                          </li>
                          <li>
                              <p>You can decide your own varied combination of players, as long as it fulfills the basic criteria given below: - &nbsp;&nbsp;</p>
                          </li>
                      </ul>
                    </div>
                    
                    
                    <table border="1" class="fantasy_football">
                      <tbody>
                          <tr>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>Specialty of player&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                  
                                  <div>
                                      <div>
                                          <p>Minimum&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>Maximum&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>Goalkeeper- GK&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>1&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>1&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>Defender- DEF&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                               
                                  <div>
                                      <div>
                                          <p>3&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                  
                                  <div>
                                      <div>
                                          <p>5&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>Midfielder- MID&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>3&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>5&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>Forward- FWD&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>1&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>3&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                    
                    
                    <div>
                      <p>Captain and Vice-Captain Points&nbsp;</p>
                    </div>
                    <div>
                      <p>After you have made a team of 11 players, you have to allocate a Captain and Vice-Captain among them.&nbsp;</p>
                    </div>
                    <div>
                      <ul>
                          <li>
                              <p>The&nbsp;captain&nbsp;carries for&nbsp;2x&nbsp;points scored by them in actual match.&nbsp;</p>
                          </li>
                          <li>
                              <p>The Vice-Captain carries 1.5x points scored by them in actual match.&nbsp;</p>
                          </li>
                      </ul>
                    </div>
                    
                    </div>
                    
                  

                    <div class="footballs">
                        <h4>Fantasy Football Points system</h4>
                        <h4>
                        Attack 
                        </h4>
                        <table border="1" class="fantasy_football">
                      <tbody>
                          <tr>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>For every goal scored (FWD)&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>+20&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                               
                                  <div>
                                      <div>
                                          <p>For every goal scored Goal (MID)&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                             
                                  <div>
                                      <div>
                                          <p>+25&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>For every goal scored (DEF)&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>+30&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>For every goal scored (GK)&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>+40&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>For every&nbsp;assist&nbsp;&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>+15&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>For every 1&nbsp;shot&nbsp;on target (includes goals)&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                  
                                  <div>
                                      <div>
                                          <p>+5&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>For every&nbsp;5&nbsp;Passes completed&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>+2&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                    
                    <br />
                    
                    <div>
                      <div>
                          <ul>
                              <li>
                                  <p>Direct Assist&nbsp;refers to the action (pass, cross or any form of touch) of the player where the ball when lands to the next player leads to a goal.&nbsp;</p>
                              </li>
                              <li>
                                  <p>Other than the normal assists, few other&nbsp;Fantasy assists&nbsp;will be&nbsp;awarded&nbsp;to the&nbsp;player: -&nbsp;</p>
                              </li>
                          </ul>
                      </div>
                      <div>
                          <ol start="1">
                              <li>
                                  <p>A penalty&nbsp;won by&nbsp;player&nbsp;or a scored direct free-kick.&nbsp;</p>
                              </li>
                          </ol>
                      </div>
                      <div>
                          <ol start="2">
                              <li>
                                  <p>For goals made by&nbsp;the opposition&nbsp;player in own goal by a cross, pass or shot.&nbsp;</p>
                              </li>
                          </ol>
                      </div>
                      <div>
                          <ul>
                              <li>
                                  <p>The final action (pass, cross or any form of touch) before a shot whether the shot is on target, blocked or off target is called&nbsp;Chance Created&nbsp;also known as Key Pass.&nbsp;</p>
                              </li>
                          </ul>
                      </div>
                    </div>
                    <div>
                      <div>
                          <ul>
                              <li>
                                  <p>Shot on Target is&nbsp;a try:&nbsp;&nbsp;</p>
                              </li>
                          </ul>
                      </div>
                      <div>
                          <ol start="1">
                              <li>
                                  <p>That is&nbsp;a&nbsp;goal&nbsp;</p>
                              </li>
                          </ol>
                      </div>
                      <div>
                          <ol start="2">
                              <li>
                                  <p>Any goal attempt that was saved by the goalkeeper or the last man of that team&nbsp;</p>
                              </li>
                          </ol>
                      </div>
                      <div>
                          <ul>
                              <li>
                                  <p>Shot on Target is not valid when:&nbsp;</p>
                              </li>
                          </ul>
                      </div>
                      <div>
                          <ol start="1">
                              <li>
                                  <p>The shot hits the goal post but is not a goal.&nbsp;</p>
                              </li>
                          </ol>
                      </div>
                    </div>
                    <div>
                      <div>
                          <ol start="2">
                              <li>
                                  <p>The player who blocks the shot is not the last man.&nbsp;</p>
                              </li>
                          </ol>
                      </div>
                      <div>
                          <ul>
                              <li>
                                  <p>In a situation where player X passes the ball to player Y, who then scores the goal. The Assist and Chance Created point is given to X and the Goal and Shot on Target point is given to Y.&nbsp;</p>
                              </li>
                          </ul>
                      </div>
                    </div>
                    
                    <br />
                    
                    <h4>Defense </h4>
                    
                    <table border="1" class="fantasy_football">
                      <tbody>
                          <tr>
                              <td>
                              
                                  <div>
                                      <div>
                                          <p>For every&nbsp;1&nbsp;successful tackle&nbsp;made&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>+5&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>For every 2&nbsp;goals conceded (DEF)&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                              
                                  <div>
                                      <div>
                                          <p>-5&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>For every 2&nbsp;goals conceded (GK)&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                  
                                  <div>
                                      <div>
                                          <p>-5&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>For every 3 shots saved&nbsp;(GK)&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                               
                                  <div>
                                      <div>
                                          <p>+10&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>For every penalty&nbsp;saved (GK)&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>+20&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  
                                  <div>
                                      <div>
                                          <p>Clean Sheet (GK)&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>+20&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                               
                                  <div>
                                      <div>
                                          <p>Clean Sheet (DEF)&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>+20&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>Clean Sheet (MID)&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>+10&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                    
                    <ul>
                      <li>
                          <p>Tackle won&nbsp;is a maneuver where the player takes the ball from another player who currently possesses it, either by winning its possession or putting it out of play.&nbsp;&nbsp;</p>
                      </li>
                      <li>
                          <p>Whenever the goalkeeper&nbsp;is able to&nbsp;prevent the goal by using&nbsp;anybody&nbsp;part of his, it is&nbsp;A Save.&nbsp;</p>
                      </li>
                      <li>
                          <p>A&nbsp;Clean Sheet&nbsp;is granted for not allowing any goal while playing on the field for at least 55 minutes. Even if a player gets substituted before a goal but has played for 55 minutes, he gets the Clean Sheet.&nbsp;</p>
                      </li>
                      <li>
                          <p>When a player misses the penalty kick but the goalkeeper has not touched the ball, the goalkeeper doesn&rsquo;t get any points for saving the goal. The penalty kick player gets -20 points for missing the goal. &nbsp; &nbsp;</p>
                      </li>
                    </ul>
                    
                    <h4>Other Points </h4>
                    
                    <table border="1" class="fantasy_football">
                      <tbody>
                          <tr>
                              <td>
                                  
                                  <div>
                                      <div>
                                          <p>Captain&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>2X&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>Vice-Captain&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>1.5X&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>Playing&nbsp;11&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>+4&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                    
                    <h4>Cards and Other Penalties </h4>
                    
                    
                    <table border="1" class="fantasy_football">
                      <tbody>
                          <tr>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>Yellow Card&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>-2&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>Red Card&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>-5&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>Played 55 minutes or more&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>+2&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  
                                  <div>
                                      <div>
                                          <p>Played less than 55 minutes&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                               
                                  <div>
                                      <div>
                                          <p>+1&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>For every own goal&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                 
                                  <div>
                                      <div>
                                          <p>-10&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                             
                                  <div>
                                      <div>
                                          <p>For every penalty missed&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                
                                  <div>
                                      <div>
                                          <p>-2&nbsp;</p>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                    
                    <div>
                      <div>
                          <ul>
                              <li>
                                  <p>Goals allowed are considered for the players who are playing on the field at the time of goal, irrespective of their time spent on the field.&nbsp;</p>
                              </li>
                              <li>
                                  <p>After a player receives the red card, he is&nbsp;penalized&nbsp;for every goal allowed by his team even though he leaves the field.&nbsp;</p>
                              </li>
                              <li>
                                  <p>Only negative points are earned if a player gets a second yellow card after the first one.&nbsp;</p>
                              </li>
                              <li>
                                  <p>When yellow or red card is due to an activity which was not on-field, then Fantasy points are affected only if:&nbsp;</p>
                              </li>
                          </ul>
                      </div>
                    </div>
                    <div>
                      <div>
                          <ol start="1">
                              <li>
                                  <p>He was substituted after he played the match.&nbsp;</p>
                              </li>
                          </ol>
                      </div>
                      <div>
                          <ol start="2">
                              <li>
                                  <p>He comes to play the game as a substitute after getting a yellow card.&nbsp;</p>
                              </li>
                          </ol>
                      </div>
                    </div>
                    
                    
                    <div>
                      <div>
                          <h4>Other Important Points&nbsp;</h4>
                      </div>
                      <div>
                          <ul>
                              <li>
                                  <p>The Captain of your Fantasy team gets 2X&nbsp;of&nbsp;their performance&nbsp;in real match.&nbsp;</p>
                              </li>
                          </ul>
                      </div>
                    </div>
                    <div>
                      <div>
                          <ul>
                              <li>
                                  <p>The Vice-Captain of your team&nbsp;gets 1.5X of their performance in real match.&nbsp;</p>
                              </li>
                              <li>
                                  <p>For the sake of points calculation any second more than 54 minutes will be taken as 55 minutes.&nbsp;</p>
                              </li>
                              <li>
                                  <p>After the match has been completed officially and points have been awarded to the Fantasy teams, no changes in that will be done. For a&nbsp;LIVE match change&nbsp;would be considered only when the status of the match is shown as In Progress or In Review.&nbsp;</p>
                              </li>
                              <li>
                                  <p>Events during extra time will be regarded&nbsp;as&nbsp;extra points.&nbsp;</p>
                              </li>
                              <li>
                                  <p>Events during penalty shootouts will not be regarded&nbsp;as&nbsp;points.&nbsp;</p>
                              </li>
                          </ul>
                      </div>
                    </div>
                    <div>
                      <div>
                          <ul>
                              <li>
                                  <p>In case a player is not able to play after being included in the&nbsp;initial&nbsp;final team sheet, the player&nbsp;doesn&rsquo;t&nbsp;score anything. However, any player who&nbsp;substitutes for&nbsp;the&nbsp;initial&nbsp;player in the game, points are awarded for his performance.&nbsp;</p>
                              </li>
                              <li>
                                  <p>A&nbsp;player&nbsp;who was not in the&nbsp;initial&nbsp;team sheet of playing11 or&nbsp;didn&rsquo;t&nbsp;substitute for&nbsp;any player of the playing 11, would not get negative points on red or yellow&nbsp;card&nbsp;for any off-field activity.&nbsp;</p>
                              </li>
                              <li>
                                  <p>In&nbsp;the case&nbsp;of&nbsp;a&nbsp;goal from a penalty or direct free-kick, foul-earner player gets the assist points only when someone else from his team scores the goal. If the foul-earner player himself makes the goal, then he gets points only for the goal and not for the assist.&nbsp;&nbsp;</p>
                              </li>
                              <li>
                                  <p>For the player who doesn&rsquo;t play the match at all in any condition, no point is awarded.&nbsp;</p>
                              </li>
                              <li>
                                  <p>When yellow or red card is due to an activity which was not on-field, then Fantasy points are affected only if:&nbsp;</p>
                              </li>
                          </ul>
                      </div>
                    </div>
                    <div>
                      <div>
                          <ol start="1">
                              <li>
                                  <p>He was substituted after he played the match.&nbsp;</p>
                              </li>
                          </ol>
                      </div>
                      <div>
                          <ol start="2">
                              <li>
                                  <p>He comes to play the game as a substitute after getting a yellow card.&nbsp;</p>
                              </li>
                          </ol>
                      </div>
                    </div>
                    
                    </div>
                
                

          
        
      
      </div>   


          

        </div>
    </div>
</section>



   