<section class="section-footer desktop-visible">
    <div class="container text-left">
        <div class="row">

            <div class="about-section">

            <h2>What Is Fantasy Cricket?</h2>

            <div class="kabaddi_play">
        
            <p class="para">Fantasy Cricket- Play the most loved sport of our nation anywhere, anytime on your mobile phone. SportsBuzz11 brings to your fingertips all the cricketing tournaments happening around the globe. Play TATA IPL2022 or ICC Men&rsquo;s T20 World Cup alongside the real players and win big. Make your Fantasy team with all your cricket knowledge and experience and earn cash prizes and rewards. &nbsp;</p>
        
        <ul>
          <li>
              Every team you select for any cricket tournament must have 11 players in it.
          </li>
          <li>
              You can choose a maximum of 7 players from one team playing in a real match, for your Fantasy team.
          </li>
        </ul>
        
        
        <div class="player_com">
          <p class="para_batt">Player Composition&nbsp;</p>
        </div>
        <div>
          <div>
              <ul>
                  <li>
                      <p>You have to select your Fantasy team for a maximum of 100 credit points only.&nbsp;</p>
                  </li>
                  <li>
                      <p>You can decide your own varied combination of players, as long as it fulfills the basic criteria given below: - &nbsp;</p>
                  </li>
              </ul>
          </div>
        </div>
        
        
        <table border="1" class="fantasy_football">
          <tbody>
              <tr class='crick_head'>
                  <td>
                     
                      <div>
                          <div>
                              <p>Specialty of player&nbsp;</p>
                          </div>
                      </div>
                  </td>
                  <td>
                      
                      <div>
                          <div>
                              <p>Minimum&nbsp;</p>
                          </div>
                      </div>
                  </td>
                  <td>
                
                      <div>
                          <div>
                              <p>Maximum&nbsp;</p>
                          </div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                    
                      <div>
                          <div>
                              <p>Wicket-Keeper&nbsp;</p>
                          </div>
                      </div>
                  </td>
                  <td>
                    
                      <div>
                          <div>
                              <p>1&nbsp;</p>
                          </div>
                      </div>
                  </td>
                  <td>
                     
                      <div>
                          <div>
                              <p>3&nbsp;</p>
                          </div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                    
                      <div>
                          <div>
                              <p>Batter&nbsp;</p>
                          </div>
                      </div>
                  </td>
                  <td>
                    
                      <div>
                          <div>
                              <p>2&nbsp;</p>
                          </div>
                      </div>
                  </td>
                  <td>
                      
                      <div>
                          <div>
                              <p>6&nbsp;</p>
                          </div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                     
                      <div>
                          <div>
                              <p>All-Rounder&nbsp;</p>
                          </div>
                      </div>
                  </td>
                  <td>
                     
                      <div>
                          <div>
                              <p>2&nbsp;</p>
                          </div>
                      </div>
                  </td>
                  <td>
                     
                      <div>
                          <div>
                              <p>6&nbsp;</p>
                          </div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                     
                      <div>
                          <div>
                              <p>Bowler&nbsp;</p>
                          </div>
                      </div>
                  </td>
                  <td>
                    
                      <div>
                          <div>
                              <p>2&nbsp;</p>
                          </div>
                      </div>
                  </td>
                  <td>
                    
                      <div>
                          <div>
                              <p>6&nbsp;</p>
                          </div>
                      </div>
                  </td>
              </tr>
          </tbody>
        </table>
        
        </div>
        
        
        
            <h2>Fantasy Football Points system</h2>
        
        <p class="para_batt">Batting Points</p>
        
        <p class="para_batt">T10</p>
        
        <table border="1" class="fantasy_football">
            <tbody>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Playing 11&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                    
                        <div>
                            <div>
                                <p>+4&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>Run Score&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+1&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>Boundary Hit&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <div>
                                <p>+1&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Six Hit&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+2&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>30 Run Bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <div>
                                <p>+8&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>Half-Century&nbsp;Bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+16&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Century Bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                      
                        <div>
                            <div>
                                <p>+32&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>Economy Bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                     
                        <div>
                            <div>
                                <p>0&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>Strike Rate&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <div>
                                <p>0&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        
        <p class="para_batt">T20</p>
        <table border="1" class="fantasy_football">
            <tbody>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>Playing 11&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+4&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Run&nbsp;score&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <div>
                                <p>+1&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>Boundary&nbsp;Hit&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+1&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Six&nbsp;hit&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+2&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>30 Run Bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                      
                        <div>
                            <div>
                                <p>+4&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Half-Century Bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+8&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>Century Bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+16&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Economy Bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>0&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Strike Rate&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <div>
                                <p>0&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p class="para_batt">ODI</p>
        <table border="1" class="fantasy_football">
            <tbody>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>Wicket Taken&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                     
                        <div>
                            <div>
                                <p>+30&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>3 Wicket Bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                     
                        <div>
                            <div>
                                <p>+4&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                     
                        <div>
                            <div>
                                <p>5 Wicket Bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                      
                        <div>
                            <div>
                                <p>+8&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>Maiden Over&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+5&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p class="para_batt">100 Balls</p>
        <table border="1" class="fantasy_football">
            <tbody>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>2 Wicket bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                      
                        <div>
                            <div>
                                <p>+3&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>3 Wicket bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <div>
                                <p>+5&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>4 Wicket bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+10&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>5 Wicket bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                      
                        <div>
                            <div>
                                <p>+20&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>Wicket taken&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+20&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p class="para_batt">Test</p>
        <table border="1" class="fantasy_football">
            <tbody>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>5 Wicket bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                      
                        <div>
                            <div>
                                <p>+4&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Wicket taken&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+35&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p class="para_batt">Fielding Points </p>
        
        <p class="para_batt">T10</p>
        <table border="1" class="fantasy_football">
            <tbody>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Catches&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                      
                        <div>
                            <div>
                                <p>+10&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>Stumping&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                     
                        <div>
                            <div>
                                <p>+20&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Run Out&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                     
                        <div>
                            <div>
                                <p>+20&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p class="para_batt">T20</p>
        
        <table border="1" class="fantasy_football">
            <tbody>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>Catches&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                      
                        <div>
                            <div>
                                <p>+10&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Stumping&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <div>
                                <p>+20&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Run Out&nbsp;&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                      
                        <div>
                            <div>
                                <p>+20&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p class="para_batt">ODI</p>
        <table border="1" class="fantasy_football">
            <tbody>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Catches&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+10&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>Stumping&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <div>
                                <p>+20&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>Run Out&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <div>
                                <p>+20&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p class="para_batt">100 Balls</p>
        <table border="1" class="fantasy_football">
            <tbody>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>3 Catches bonus&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+15&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>Catches&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                      
                        <div>
                            <div>
                                <p>+8&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>Run out&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+20&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      
                        <div>
                            <div>
                                <p>Stumping&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <div>
                                <p>+12&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="para_batt">Test</p>
        <table border="1" class="fantasy_football">
            <tbody>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>Catches&nbsp;&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+10&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>Run-out&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <div>
                                <p>+20&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Stumping&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <div>
                            <div>
                                <p>+20&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <ul>
            <li>
            Players who held more than 3 catches will only get a 3 catch bonus and not more than that. So, the highest amount of bonus for catches is 3 catch bonus for any maximum number of catches. 
            </li>
            <li>
            A direct hit is one in which after the batter there is only one fielder who touched the bowl to inflict the wicket. In cases other than that, the last 2 fielders who touched the ball before taking down the wicket would be considered for points. 
            </li>
        </ul>
        
        
        <div class="player_com">
            <p class="para_batt">Captain and Vice-Captain Points </p>
        
            <p class="para_batt">After you have made a team of 11 players, you have to allocate a Captain and Vice-Captain among them. </p>
        </div>
        <div>
            <div>
                <ul>
                    <li>
                        <p>The captain carries for 2x points scored by them in actual match.</p>
                    </li>
                    <li>
                        <p>The Vice-Captain carries 1.5x points scored by them in actual match</p>
                    </li>
                </ul>
            </div>
        </div>
        
        <p class="para_batt">Other Points </p>
        
        <table border="1" class="fantasy_football">
            <tbody>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>Captain&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                      
                        <div>
                            <div>
                                <p>2x&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <div>
                            <div>
                                <p>Vice-Captain&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>1.5x&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                        <div>
                            <div>
                                <p>In announced lineups&nbsp;</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       
                        <div>
                            <div>
                                <p>+4&nbsp;</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
      
         
        
      </div>   


          

        </div>
    </div>
</section>



   