.about-section {
    padding: 50px;
    text-align: left;
    margin-top: 45px;

  }

  *{line-height: 34px;
    font-size: 17px;}

    .privacy_polic h1 {
      font-size: 24px;
  }

  .contact_about {
    font-size: 30px;
    text-align: left; 
    font-weight: 700;
  }
  .contact_aboutuse{
    font-size: 23px;
    text-align: left; 
    font-weight: 700;
  }