.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #fff !important; 
}

.nav_links {
    color: #000000 !important;
    padding: 0.5em;
    text-decoration: none;
    // font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.logo-title{
    Width: 188.93px;
    Height: 20.25px;
    Top: 13.2px;
    Left: 48.07px;
}

.logo-icon {
    height: 42px;
    width: 41.6626091003418px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}
