<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="padding:18px 60px;">
        <div class="container-fluid">
            
                <a class="title_main" href="/">
                    <div class="main_title">
                        <img src="/assets/images/icon.png" class="logo-icon" width="30" alt="SportsBuzz11">
                        <img src="/assets/images/logo.png" class="logo-title" width="100" alt="SportsBuzz11">
                    </div></a>
           
            <button aria-controls="responsive-navbar-nav" type="button" data-target="#responsivenavbarnav" aria-expanded="false" data-toggle="collapse" class="navbar-toggler collapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="responsivenavbarnav">
                    <div class="me-auto navbar-nav"></div>
                    <div class="navbar-nav">
                        <a class="nav_links" routerLink="/home">Home</a>
                        <a class="nav_links" routerLink="/aboutus">About Us</a>
                        <a class="nav_links" routerLink="/faq">FAQ</a>
                        <a class="nav_links" routerLink="/contactus">Contact Us</a>
                        <button class="btn_play"> <a class="nav_links" href="https://game.sportsbuzz11.com/login">Play Now</a></button>
                    </div>
                </div>
        </div>
        </nav>
  <!-- Header End -->