.navbar-nav {
    margin: 0px;
}

.bg-light {
    --bs-bg-opacity: 0 !important; 
    background-color: #fff !important;
}

.btn_play{
width: 105px;
height: 40px;
margin-left: 10px;

background: #BA275E;
border-radius: 32px;
color: rgb(255, 255, 255);

}

.btn_play a{
    color: rgb(255, 255, 255) !important;
    
    }

.container-fluid:before,
.navbar-light:after,
.container-fluid:after,
.navbar-light:before {
    content: none;
 }

.nav_links {
    color: #000000 !important;
    padding: 0.5em;
    text-decoration: none;
    // font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.logo-title{
    Width: 188.93px;
    padding: 5px;
}

.logo-icon {
    height: 42px;
    width: 41.6626091003418px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .navbar-light {
    padding: 18px !important;
  }
}

body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif;  
}  
header {  
background-color: orange;  
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 30px;  
display: flex;  
align-items: center;  
box-shadow: 0 0 25px 0 black;  
}  