<section class="section-footer desktop-visible">
    <div class="container text-left">
        <div class="row">

            <section class="bkImg">
                <div class="bg-blur-blue"></div>
            <div class="container">
                <div class="row row-space">
                    <div class="col-12 col-sm-4">
                        <p class="home-page-label spor_mul">Multiple fantasy sports</p>
                       <h4 class="home-page-content">Show your skills and win cash daily</h4>
                       <div class="input-group mt-4 wow fadeInLeft mobile-num-download" style="visibility: visible; animation-name: fadeInLeft;">
                        <input type="text" class="form-control form-1 w-10" placeholder="+91" disabled="" id="mobNo2">
                        <input class="form-control form-2 w-55 mobNo" placeholder="Enter Mobile Number" id="mobNo1" required="" maxlength="10">
                        <button onclick="sendLink(1)" class="btn btn-warning w-35 download-btn bt_do" type="button">Download</button>
                    </div>
                    </div>
                    <div class="col-12 col-sm-2">
                        </div>

                    <div class="col-12 col-sm-6">
                        <img src="/assets/images/home_banner.png" class="homepage-icon"  alt="SportsBuzz11">
                        
                    </div>
                </div>
               
                
                <div class="row row-space">


                        <!-- <div class="col-12 col-sm-3 app_freedata">
                        <img src="/assets/images/download_icon.png" class="download-icon"  alt="SportsBuzz11">
                        <p class="downloap_apptext">Download app for free</p>
                        <div class="row">
                            <div class="col-6 col-sm-3">
                          <img src="/assets/images/scanner_icon.png" class="scanner-icon"  alt="SportsBuzz11">
                            </div>
                            <div class="col-12 col-sm-3">
                          <p class="scan-codetxt">Scan this QR code to download the app</p>
                          </div>
                        
                        </div>
                    </div> -->

                    <div class="col-12 col-sm-6 app_freedata">
                    <div class="col-12 col-sm-3 sport_win">
                        <img src="/assets/images/Group10_new.png" class="tested60k-icon"  alt="SportsBuzz11">
                        
                    </div>

                    <div class="col-12 col-sm-3 sport_win_lef sport-win-2-img">
                        <img src="/assets/images/Group-4_newright1.png" class="tested100k-icon"  alt="SportsBuzz11">
                        <img src="/assets/images/Group-4_newright2.png" class="tested50k_icon"  alt="SportsBuzz11">  
                        
                    </div>

                </div>

                    <div class="col-12 col-sm-6 avail_app">
                        
                        <div class="row">
                            <p class="banner_playpra">Available on</p>

                            <div class="download-links for-desktop banner_play">
                                
                                <a href="https://play.google.com/store" target="_blank"><img src="/assets/images/android_icon.png" class="img-fluid img_da"></a>
                                <a href="https://www.apple.com/in/app-store/" target="_blank"><img src="/assets/images/app-store.png" class="img-fluid me-2"></a>
                                
                            </div>

                            <!-- <div class="col-6">
                              <img src="/assets/images/android_icon.png" class="android-icon"  alt="SportsBuzz11">
                            </div>
                            <div class="col-6">
                               <img src="/assets/images/apple_icon.png" class="apple-icon"  alt="SportsBuzz11">
                          </div>
                         -->
                        </div>
                        
                    </div>
                </div>
            </div>

            
        </section>
            <div class="row-space"></div>

                <div class="under_line"></div>

            <div class="row-space"></div>    

        <section class="sb_fant">
            <div class="col-lg-10 offset-lg-1">
                <div class="col-12">
                    <p class="amazing-sports-label sb_fant_par">Play Fantasy cricket on SB11 and win big</p>
                </div>
                <div class="row-space"></div>
                <div class="col-12">
                    <p class="sb11-sports-label sb_fant_par2 play-sb-11-heading">Its easy to start playing on <span class="sb11-label">SB11</span></p>  
                </div>
                <div class="row-space"></div>
                <div class="row">
                    <div class="col-6">
                        <img src="/assets/images/img_left_new.png" class="Group13 img_secd"  alt="SportsBuzz11" width="80%">
                        <!--need image-->
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <!-- <p class="amazing-sports-label">Play fantasy cricket on SB11 and win big</p>
                                <p class="amazing-sports-label">Play fantasy cricket on SB11 and win big</p> -->
                                <div class="inlin_data">
                               <img src="/assets/images/img_num1.png" class="Group13"  alt="SportsBuzz11">
                               <div class="centered inlin_alig">
                                <h5 class="inin_he">Select a match</h5>
                                <p class="inin_pa">Select an upcoming match of your choice.</p>
                            </div>
                            </div>
                            </div>
                        </div>
                        <div class="row-space"></div>
                        <div class="row">
                            <div class="col-12">
                                <div class="inlin_data">
                               <img src="/assets/images/img_num2.png" class="Group14"  alt="SportsBuzz11">
                               <div class="centered inlin_alig">
                                <h5 class="inin_he">Create your SB11 team</h5>
                                <p class="inin_pa">Select an upcoming match of your choice.</p>
                            </div>
                            </div>
                            </div>
                        </div>
                        <div class="row-space"></div>
                        <div class="row">
                            <div class="col-12">
                                <div class="inlin_data">
                               <img src="/assets/images/img_num3.png" class="Group15"  alt="SportsBuzz11">
                               <div class="centered inlin_alig">
                                <h5 class="inin_he">Join free & cash contests</h5>
                                <p class="inin_pa">Participate in contests and go for glory.</p>
                            </div>
                            </div>
                            </div>
                        </div>
                        <div class="row-space"></div>
                    </div>
                </div>
                <div class="row-space"></div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <img src="/assets/images/Group601_new.png" class="group-image601 ban_sec3"  alt="SportsBuzz11">
                            <div class="centered too_la">
                                <h3>Multiple sports daily winning leaderboard</h3> 
                                <h1>Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, sed 
                                    do eiusmod tempor incididun.</h1></div>
                    </div>
                        <div class="col-6">
                            <img src="/assets/images/Group602_new.png" class="group-image601 ban_sec3"  alt="SportsBuzz11">
                            <div class="centered too_la">
                                <h3 class="tes_co">Multiple sports daily winning 
                                    leaderboard</h3> 
                                <h1>Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, sed 
                                    do eiusmod tempor incididun.</h1></div>
                        </div>
                    </div>
                </div>
                <div class="row-space"></div>
            </div>

        </section>
        <div class="row-space"></div>

            <div class="under_line"></div>
            <div class="row-space"></div>

         <section class="bacgrongImg-ouruser">

            <div class="col-lg-10 offset-lg-1">
                <div class="col-12">

                    <p class="amazing-sports-label">Amazing sports features on the app</p>
                </div>
                <div class="row-space"></div>
                <div class="col-12">
                    <p class="sb11-sports-label">Why <span class="sb11-label">SB11</span> is so popular?</p>  
                </div>


                <div class="why-sb-11">
                    <div class="in-sb-11">
                        <div class="sb-11-img-part sb-bg-1">
                            <img src="assets/images/money.png" />
                        </div>
                        <div class="sb-11-content">
                            <h3 class="fourts_col_head">Win daily cash</h3>
                            <p class="fourts_col_para">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit,
                                sed do eiusmod.</p>
                        </div>
                    </div>
                    <div class="in-sb-11 sb-mar-50">
                        <div class="sb-11-img-part sb-bg-2">
                            <img src="assets/images/fast-withdrawl.png" />
                        </div>
                        <div class="sb-11-content">
                            <h3 class="fourts_col_head">Fast withdrawals</h3>
                        <p class="fourts_col_para">Enjoy instant cash
                            withdrawals after one time
                            account verification.</p>
                        </div>
                    </div>
                    <div class="in-sb-11">
                        <div class="sb-11-img-part sb-bg-3">
                            <img src="assets/images/private-secure.png" />
                        </div>
                        <div class="sb-11-content">
                            <h3 class="fourts_col_head">Private & Secure</h3>
                        <p class="fourts_col_para">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit,
                            sed do eiusmod.</p>
                        </div>
                    </div>
                    <div class="in-sb-11 sb-mar-50">
                        <div class="sb-11-img-part sb-bg-4">
                            <img src="assets/images/24-support.png" />
                        </div>
                        <div class="sb-11-content">
                            <h3 class="fourts_col_head">24x7 Support</h3>
                        <p class="fourts_col_para">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit,
                            sed do eiusmod.</p>
                        </div>
                    </div>
                </div>


                <!-- <div class="row-space"></div> -->


                <!-- <div class="row">

                    <div class="col-12 col-sm-3">
                        <img src="/assets/images/imgtab_1.png" class="group629"  alt="SportsBuzz11">
                        
                        <div class="centered fourts_col sec_fout win_data">
                            <h3 class="fourts_col_head">Win daily cash</h3> 
                            <p class="fourts_col_para">Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit, 
                                sed do eiusmod.</p>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3">
                        <img src="/assets/images/imgtab_2.png" class="group630"  alt="SportsBuzz11">
                        <div class="centered fourts_col">
                            <h3 class="fourts_col_head">Fast withdrawals</h3> 
                            <p class="fourts_col_para">Enjoy instant cash 
                                withdrawals after one time 
                                account verification.</p>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3">
                        <img src="/assets/images/imgtab_3.png" class="group631"  alt="SportsBuzz11">
                        <div class="centered fourts_col sec_fout win_data">
                            <h3 class="fourts_col_head">Private & Secure</h3> 
                            <p class="fourts_col_para">Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit, 
                                sed do eiusmod.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3">
                        <img src="/assets/images/imgtab_4.png" class="group632"  alt="SportsBuzz11">
                        <div class="centered fourts_col">
                            <h3 class="fourts_col_head">24x7 Support</h3> 
                            <p class="fourts_col_para">Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit, 
                                sed do eiusmod.</p>
                        </div>
                    </div>
                    <div class="row-space"></div>
                </div> -->


                <div class="row-space"></div>
                <div class="col-12 rect_desk">
                    <img src="/assets/images/background_imgs.png" class="groupappicons"  alt="SportsBuzz11">
                    <!-- <img src="/assets/images/mobileicon.png" class="mobileicon"  alt="SportsBuzz11"> -->

                    <div class="centered banner_lasts">
                        <h2 class="banner_last">Download SportsBuzz11 app now!</h2> 
                        <p class="banne_heds">Create teams, join contests & win exciting cash prizes</p>

                        <div class="download-links for-desktop bt_da">
                          
                            <a href="https://play.google.com/store" target="_blank"><img src="/assets/images/google-play.png" class="img-fluid"></a>
                            <a href="https://www.apple.com/in/app-store/" target="_blank"><img src="/assets/images/app-store.png" class="img-fluid me-2"></a>
                        </div>
                    </div>
                </div>

                <div class="row-space"></div>
                <div class="col-12 rect_mobile">
                    <img src="/assets/images/rectangle_mobile.png" class="groupappicons"  alt="SportsBuzz11">
                    <!-- <img src="/assets/images/mobileicon.png" class="mobileicon"  alt="SportsBuzz11"> -->

                    <div class="centered banner_lasts1">
                        <h2 class="banner_last">Download SportsBuzz11 app now!</h2> 
                        <p class="banne_heds">Create teams, join contests & win exciting cash prizes</p>

                        <div class="download-links for-desktop">
                            <a href="https://www.apple.com/in/app-store/" target="_blank"><img src="/assets/images/app-store.png" class="img-fluid me-2"></a>
                            <a href="https://play.google.com/store" target="_blank"><img src="/assets/images/google-play.png" class="img-fluid"></a>
                        </div>
                    </div>
                </div>


       
    <!-- <section class="testimonial text-center">
        <div class="container">

            <div class="heading white-heading">
                Testimonial
            </div>
            <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
             
                <div class="carousel-inner" role="listbox">


                    <div class="carousel-item active">
                        <div class="testimonial4_slide">
                           
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <h4>Client 1</h4>

                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                           
                            
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <h4>Client 2</h4>
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                           
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <h4>Client 3</h4>

                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section> -->



                <!-- <div class="row-space"></div>
                <div class="col-12" style="margin: 0 auto;text-align: center;">
                    <img src="/assets/images/Group65.png" class="group65icons"  alt="SportsBuzz11">
                </div>
                <div class="row-space"></div>
                <div class="col-12"style="margin: 0 auto;text-align: center;">
                    <img src="/assets/images/Group67.png" class="group67icons" alt="SportsBuzz11">
                </div>
                <div class="row-space"></div> -->
            </div>
        </section>


        <section class="testimonial text-center testimonial_sty">

            <div class="row-space"></div>
            <div class="col-12">
                <p class="sb11-testimonials-label">SB11 Testimonials</p>
            </div>
            <div class="row-space"></div>
            <div class="col-12">
                <p class="our-userstory-label">Our users and their <span class="happy_label">happy</span> stories</p>  
            </div>

            <!-- ADD HTML  -->
    <div class="testimonial-block">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                <p class="testimonial-content-p"> Lorem Ipsum is
                    simply dummy text of the printing when an a galley of type Lorem Ipsum has been the industry's
                    standard
                    dummy text ever since the 1500s, when an a galley of type and scrambled it to make
                    a type specimen book.</p>
                <span class="testimonial-name">Shravan Singh</span>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <p class="testimonial-content-p"> Lorem Ipsum is
                    simply when an a galley of type dummy text of the printing Lorem Ipsum has been the industry's
                    standard
                    dummy text when an a galley of type ever since the 1500s, when an a galley of type and scrambled it
                    to make
                    a type specimen book.</p>
                <span class="testimonial-name">John Doe</span>

            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <p class="testimonial-content-p"> Lorem Ipsum is
                    simply dummy text of the printing Lorem Ipsum has been the industry's standard
                    dummy text eve when an a galley of typer since the 1500s, when an a galley of type and scrambled it
                    to make
                    a type specimen book.</p>
                <span class="testimonial-name">Smith </span>
            </div>
            <div class="tab-pane fade" id="nav-four" role="tabpanel" aria-labelledby="nav-four-tab">
                <p class="testimonial-content-p"> when an a galley of type Lorem Ipsum is
                    simply dummy text of the printing Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an a galley of type and scrambled it to make
                    a type specimen book.</p>
                <span class="testimonial-name">James</span>
            </div>
            <div class="tab-pane fade" id="nav-five" role="tabpanel" aria-labelledby="nav-five-tab">
                <p class="testimonial-content-p"> Lorem Ipsum is
                    simply dummy text of the printing Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an a galley of type and scrambled it to make
                    a type specimen book.</p>
                <span class="testimonial-name">Mike</span>
            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">
                    <span>
                        <img src="assets/images/testimonial-img-1.png" /></span>
                </a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">
                    <span>
                        <img src="assets/images/testimonial-img-2.png" /></span>
                </a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                    aria-controls="nav-contact" aria-selected="false">
                    <span>
                        <img src="assets/images/testimonial-img-3.png" /></span>
                </a>
                <a class="nav-item nav-link" id="nav-four-tab" data-toggle="tab" href="#nav-four" role="tab"
                    aria-controls="nav-four" aria-selected="false">
                    <span>
                        <img src="assets/images/testimonial-img-4.png" /></span>
                </a>
                <a class="nav-item nav-link" id="nav-five-tab" data-toggle="tab" href="#nav-five" role="tab"
                    aria-controls="nav-five" aria-selected="false">
                    <span>
                        <img src="assets/images/testimonial-img-5.png" /></span>
                </a>
            </div>
        </nav>
    </div>
    <!-- ADD HTML  -->
    </section>


        </div>
    </div>
</section>
