<section class="section-footer desktop-visible">
    <div class="container text-left">
        <div class="row">

            <section class="bkImg">
            <div class="col-lg-10 offset-lg-1">
                <div class="row-space"></div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <p class="home-page-label">Multiple fantasy sports</p>
                       <h4 class="home-page-content">Show your skills and win cash daily</h4>
                       <div class="input-group mt-4 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <input type="text" class="form-control form-1 w-10" placeholder="+91" disabled="">
                        <input class="form-control form-2 w-55 mobNo" placeholder="Enter Mobile Number" id="mobNo1" required="" maxlength="10">
                        <button onclick="sendLink(1)" class="btn btn-warning w-35 download-btn" type="button">Download</button>
                    </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <img src="/assets/images/home_banner.png" class="homepage-icon"  alt="SportsBuzz11">
                        
                    </div>
                </div>
                <div class="row-space"></div>
                
                <div class="row">
                    <div class="row-space"></div>
                    <div class="col-12 col-sm-3">
                        <img src="/assets/images/download_icon.png" class="download-icon"  alt="SportsBuzz11">
                        <p class="downloap_apptext">Download app for free</p>
                        <div class="row">
                            <div class="col-6 col-sm-3">
                          <img src="/assets/images/scanner_icon.png" class="scanner-icon"  alt="SportsBuzz11">
                            </div>
                            <div class="col-12 col-sm-3">
                          <p class="scan-codetxt">Scan this QR code to download the app</p>
                          </div>
                        
                        </div>
                    </div>

                    <div class="col-12 col-sm-2">
                        <img src="/assets/images/tested60k_icon.png" class="tested60k-icon"  alt="SportsBuzz11">
                        
                    </div>

                    <div class="col-12 col-sm-3">
                        <img src="/assets/images/tested100k_icon.png" class="tested100k-icon"  alt="SportsBuzz11">
                        <img src="/assets/images/tested50k_icon.png" class="tested50k_icon"  alt="SportsBuzz11">  
                        
                    </div>

                    <div class="col-12 col-sm-4">
                        <p>Available on the</p>
                        <div class="row">
                            <div class="col-6">
                              <img src="/assets/images/android_icon.png" class="android-icon"  alt="SportsBuzz11">
                            </div>
                            <div class="col-6">
                               <img src="/assets/images/apple_icon.png" class="apple-icon"  alt="SportsBuzz11">
                          </div>
                        
                        </div>
                        
                    </div>
                </div>
            </div>

            
        </section>
            <div class="row-space"></div>

                <div class="under_line"></div>

            <div class="row-space"></div>    

        <section>
            <div class="col-lg-10 offset-lg-1">
                <div class="col-12">
                    <p class="amazing-sports-label">Play fantasy cricket on SB11 and win big</p>
                </div>
                <div class="row-space"></div>
                <div class="col-12">
                    <p class="sb11-sports-label">its easy to start playing on <span class="sb11-label">SB11</span></p>  
                </div>
                <div class="row-space"></div>
                <div class="row">
                    <div class="col-6">
                        <!--need image-->
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                               <img src="/assets/images/Group13.png" class="Group13"  alt="SportsBuzz11">
                            </div>
                        </div>
                        <div class="row-space"></div>
                        <div class="row">
                            <div class="col-6">
                               <img src="/assets/images/Group14.png" class="Group14"  alt="SportsBuzz11">
                            </div>
                        </div>
                        <div class="row-space"></div>
                        <div class="row">
                            <div class="col-6">
                               <img src="/assets/images/Group15.png" class="Group15"  alt="SportsBuzz11">
                            </div>
                        </div>
                        <div class="row-space"></div>
                    </div>
                </div>
                <div class="row-space"></div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <img src="/assets/images/Group601.png" class="group-image601"  alt="SportsBuzz11">
                        </div>
                        <div class="col-6">
                            <img src="/assets/images/Group602.png" class="group-image601"  alt="SportsBuzz11">
                        </div>
                    </div>
                </div>
                <div class="row-space"></div>
            </div>

        </section>
        <div class="row-space"></div>

            <div class="under_line"></div>
            <div class="row-space"></div>

         <section class="bacgrongImg-ouruser">

            <div class="col-lg-10 offset-lg-1">
                <div class="col-12">

                    <p class="amazing-sports-label">Amazing sports features on the app</p>
                </div>
                <div class="row-space"></div>
                <div class="col-12">
                    <p class="sb11-sports-label">Why <span class="sb11-label">SB11</span> is so popular?</p>  
                </div>
                <div class="row-space"></div>
                <div class="row">
                    <div class="col-12 col-sm-3">
                        <img src="/assets/images/Group629.png" class="group629"  alt="SportsBuzz11">
                    </div>
                    <div class="col-12 col-sm-3">
                        <img src="/assets/images/Group630.png" class="group630"  alt="SportsBuzz11">
                    </div>
                    <div class="col-12 col-sm-3">
                        <img src="/assets/images/Group631.png" class="group631"  alt="SportsBuzz11">
                    </div>
                    <div class="col-12 col-sm-3">
                        <img src="/assets/images/Group632.png" class="group632"  alt="SportsBuzz11">
                    </div>
                    <div class="row-space"></div>
                </div>
                <div class="row-space"></div>
                <div class="col-12">
                    <img src="/assets/images/Groupappicons.png" class="groupappicons"  alt="SportsBuzz11">
                    <img src="/assets/images/mobileicon.png" class="mobileicon"  alt="SportsBuzz11">
                </div>
                <div class="row-space"></div>
                <div class="col-12">
                    <p class="sb11-testimonials-label">SB11 Testimonials</p>
                </div>
                <div class="row-space"></div>
                <div class="col-12">
                    <p class="our-userstory-label">Our users and their <span class="happy_label">happy</span> stories</p>  
                </div>
                <div class="row-space"></div>
                <div class="col-12" style="margin: 0 auto;text-align: center;">
                    <img src="/assets/images/Group65.png" class="group65icons"  alt="SportsBuzz11">
                </div>
                <div class="row-space"></div>
                <div class="col-12"style="margin: 0 auto;text-align: center;">
                    <img src="/assets/images/Group67.png" class="group67icons" alt="SportsBuzz11">
                </div>
                <div class="row-space"></div>
            </div>
        </section>


        </div>
    </div>
</section>
