.home-page-label {
    width: 238px;
    height: 24px;
    margin-top: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FF3333;
}

.homepage-icon{
    margin-left: 54px;
}

.home-page-content {

    width: 350px;

    // font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;

    color: #242424;
}

.download-icon {
  
    width: 54px;
    height: 54px;
    background: #2980B9;
    border-radius: 8px;
}

.downloap_apptext {
  
    width: 169px;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    display: flex;
    align-items: center;
    color: #242424;
    margin-top:10px;
}

.scanner-icon {
   
    width: 53px;
    height: 53px;

}

.scan-codetxt{
   
    width: 135px;
    height: 44px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* or 123% */
    display: flex;
    align-items: center;
    color: #797979;
}

.tested60k-icon {
   
    width: 138px;
    height: 192px;
    background: #FFFFFF;
    box-shadow: 0px 0px 74px -25px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.tested100k-icon {
    
    width: 200px;
    height: 88px;
    background: #FFFFFF;
    box-shadow: 0px 0px 74px -25px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.tested50k_icon {
   
    width: 200px;
    height: 88px;
    background: #FFFFFF;
    box-shadow: 0px 0px 74px -25px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-top:20px;
}

.android-icon {
    width: 140px;
    height: 42px;
    border-radius: 5px;
}

.apple-icon {
    width: 156.82px;
    height: 72px;
    margin-top: -14px
}

.under_line {
 
    width: 1571px;
    height: 0px;
    left: 0px;
    top: 972px;
    border: 1px solid #C7C7C7;
}

.amazing-sports-label {
    margin: 0 auto;
    text-align: center;
    width: 332px;
    height: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FF3333;
}

.sb11-sports-label {
    margin: 0 auto;
    text-align: center;
    width: 560px;
    height: 44px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 16px;
    /* or 50% */
    align-items: center;
    text-align: center;
    color: #242424;
}

.sb11-label{
    font-weight: 900;
    padding: 0px 7px;
}

.group629{
    width: 222px;
    height: 251px;
    left: 304px;
    top: 2083px;
    
    // box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.11);
}

.group630{
    width: 222px;
    height: 251px;
    left: 550px;
    top: 2124px;
    margin-top:37px;
    // box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.11);
}

.group631{
    width: 222px;
    height: 251px;
    left: 796px;
    top: 2083px;
    // box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.11);
}

.group632{
    width: 222px;
    height: 251px;
    left: 1042px;
    top: 2124px;
    margin-top:37px;
    // box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.11);
}

.groupappicons{
    width: 957px;
    height: 268px;
    left: 307px;
    top: 2468px;
    background: linear-gradient(87.03deg, #1823D4 -8.79%, #214AFF 56.02%, #6FB1FC 120.83%);
    border-radius: 16px;
}

#group65icon {
    margin: 0 auto;
    text-align: center;
    width: 676px;
    height: 283.08px;
    left: 448px;
    top: 2980px;
}

#group67icon {
    margin: 0 auto;
    text-align: center;
    width: 676px;
    height: 283.08px;
    left: 448px;
    top: 2980px;
}

.sb11-testimonials-label{
    margin: 0 auto;
    text-align: center;
    width: 332px;
    height: 24px;

    top: 1959px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FF3333;
}

.our-userstory-label{
    margin: 0 auto;
    text-align: center;
    width: 560px;
    height: 44px;
    top: 2878px;
    font-weight: 500;
    font-size: 32px;
    line-height: 16px;
    /* or 50% */
 
    color: #242424;
}

.happy_label {
    color:#FF0000;
}

.download-btn{
    height: 40px;
    background: radial-gradient(211.33% 211.33% at -24.67% 94.74%, #1ABD00 0%, #71B280 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 12px;
    width: 25% !important;
    margin-left: 10px !important;
    font-size: 18px !important;
    color: #fff;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-radius: 5px;
}

.row-space {
    margin-bottom: 25px;
}

.group-image601 {
    width:400px;
    height:180px;
}

.mobileicon {
    margin-top: -282px;
    margin-left: 600px;
}

.w-55 {
   width: 55% !important;
   border-top-right-radius: 5px !important;
   border-bottom-right-radius: 5px !important;
   height: 40px;
}

.bkImg {
    background: linear-gradient(to left, #e2ebff -113%, #fff 100%);
}

.bacgrongImg-ouruser {
    background: linear-gradient(to right, #FCDDE2 -303%, #fff 63%);
}




