<section class="section-footer desktop-visible">
    <div class="container text-left">
        <div class="row">

            <div class="about-section">
                <h2 class="text-center abo_head contact_title">Frequently Asked Questions</h2>


                <div class="container">

                  
                    <div class="row">
                      <div class="col-lg-9 mx-auto">
                        <!-- Accordion -->
                        <div id="accordionExample" class="accordion shadow accou_p">
                  
                          <!-- Accordion item 1 -->
                          <div class="card">
                            <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                              <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                  aria-controls="collapseOne"
                                  class="btn btn-link text-dark font-weight-bold collapsible-link">How do I play Fantasy Sports?</button>
                              </h2>
                            </div>
                            <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
                              <div class="card-body p-5">
                                <p class="font-weight-light m-0">Playing Fantasy Sports is easy and on SportsBuzz we make it easiest. First create an account, sign in and go to the lobby. Select the sport (say cricket), then choose any upcoming cricket league and go for the stakes which would give you maximum profit as per your skill set. Create your team by selecting the best players from the teams in the actual league. Select your captain and vice-captain wisely, as they give you extra points.<br>
                                  Now, just enjoy the game and earn rewards and cash prizes. Your team will earn points based on the performance of the players in the actual league and thereby you earn cash rewards.  </p>
                              </div>
                            </div>
                          </div><!-- End -->
                  
                          <!-- Accordion item 2 -->
                          <div class="card">
                            <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
                              <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                  aria-controls="collapseTwo"
                                  class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">What is Fantasy gaming, and do we have any of those websites in India?</button>
                              </h2>
                            </div>
                            <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                              <div class="card-body p-5">
                                <p class="font-weight-light m-0">Fantasy gaming is a game of skill where you use your knowledge to create a virtual team of real sport players. The better your player performs in real game, the higher your fantasy points.   

                                  So, when you play a Fantasy game on SportsBuzz11; you get to create your own dream team   virtually and earn cash rewards for your skill set in real-time.</p>
                              </div>
                            </div>
                          </div><!-- End -->
                  
                          <!-- Accordion item 3 -->
                          <div class="card">
                            <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                              <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                  aria-controls="collapseThree"
                                  class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">Is Fantasy games skill or luck?</button>
                              </h2>
                            </div>
                            <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                              <div class="card-body p-5">
                                <p class="font-weight-light m-0">Luck is a factor which is there in any type of game but Fantasy Games is largely a game of skill. It is your knowledge of the subject of sports which you gain by keeping track of all the latest developments in sport and following regular matches which guides you to take an informed decision and to the precision of winning rewards for you.</p>
                              </div>
                            </div>
                          </div><!-- End -->

                               
                                <div class="card">
                                  <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                                    <h2 class="mb-0">
                                      <button type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false"
                                        aria-controls="collapsefour"
                                        class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">Why should I play Fantasy Games?</button>
                                    </h2>
                                  </div>
                                  <div id="collapsefour" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                                    <div class="card-body p-5">
                                      <p class="font-weight-light m-0">Playing Fantasy Games on SportsBuzz11 puts your years of sports knowledge to use and awards you for the same. Also, it makes your sports viewing experience much more involved and rewarding.</p>
                                    </div>
                                  </div>
                                </div><!-- End -->

                                      <!-- Accordion item 3 -->
                          <div class="card">
                            <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                              <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false"
                                  aria-controls="collapsefive"
                                  class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">Why play fantasy games daily on SportsBuzz11?</button>
                              </h2>
                            </div>
                            <div id="collapsefive" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                              <div class="card-body p-5">
                                <p class="font-weight-light m-0">SportsBuzz11 features an ensemble of Fantasy Games across the sports of Cricket, Football and Tennis. You can go for free fantasy games to learn and then transition to cash leagues for a minimal stake. You can smoothly transfer your winnings to your bank account or e-wallet and enjoy the fruit of your skill. The more you play, the better the rewards are and the higher your earnings are.</p>
                              </div>
                            </div>
                          </div><!-- End -->

                                <!-- Accordion item 3 -->
                                <div class="card">
                                  <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                                    <h2 class="mb-0">
                                      <button type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false"
                                        aria-controls="collapsesix"
                                        class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">How do I win in SportsBuzz11 fantasy?</button>
                                    </h2>
                                  </div>
                                  <div id="collapsesix" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                                    <div class="card-body p-5">
                                      <p class="font-weight-light m-0">Log into your SportsBuzz11 account, choose the sport, select the league and make your dream team by choosing the players based on their current form, condition and availability.  Enjoy the match and earn your real cash based on the cumulative performance of the players you chose in your dream team. Your rank on the points-table determines the amount of cash you earn. </p>
                                    </div>
                                  </div>
                                </div><!-- End -->


                                      <!-- Accordion item 3 -->
                                      <div class="card">
                                        <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                                          <h2 class="mb-0">
                                            <button type="button" data-toggle="collapse" data-target="#collapsezero" aria-expanded="false"
                                              aria-controls="collapsesix"
                                              class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">What are the tips and tricks to win in fantasy games?</button>
                                          </h2>
                                        </div>
                                        <div id="collapsezero" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                                          <div class="card-body p-5">

                                            <div>
                                              <p>There are some important points to keep in mind while selecting your team to play Fantasy game &nbsp;</p>
                                              <div>
                                                  <ul>
                                                      <li>
                                                          <p>Always stay updated with the latest performance and form of the players you are selecting. &nbsp;</p>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div>
                                              <div>
                                                  <ul>
                                                      <li>
                                                          <p>Select your captain and vice-captain wisely as they carry more points. &nbsp;</p>
                                                      </li>
                                                      <li>
                                                          <p>Ground and weather conditions on match day. &nbsp;</p>
                                                      </li>
                                                      <li>
                                                          <p>Select the order of your players carefully. &nbsp;</p>
                                                      </li>
                                                      <li>
                                                          <p>Keep a check on unavailability of players due to any last-minute changes. &nbsp;</p>
                                                      </li>
                                                      <li>
                                                          <p>To take&nbsp;the best&nbsp;decisions, be updated with all the latest developments in the game. &nbsp;</p>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div>
                                              <div>
                                                  <ul>
                                                      <li>
                                                          <p>Always reach out for extra points.</p>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>

                                            <!-- <p class="font-weight-light m-0">Log into your SportsBuzz11 account, choose the sport, select the league and make your dream team by choosing the players based on their current form, condition and availability.  Enjoy the match and earn your real cash based on the cumulative performance of the players you chose in your dream team. Your rank on the points-table determines the amount of cash you earn. </p> -->
                                          </div>
                                        </div>
                                      </div><!-- End -->

                                      <!-- Accordion item 3 -->
                          <div class="card">
                            <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                              <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false"
                                  aria-controls="collapseseven"
                                  class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">Can I withdraw my winnings?</button>
                              </h2>
                            </div>
                            <div id="collapseseven" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                              <div class="card-body p-5">
                                <p class="font-weight-light m-0">Yes, you can withdraw your winnings and get it deposited into your bank account or e-wallet and from there you can get your real cash. You will need your account to be KYC verified at the app.  </p>
                              </div>
                            </div>
                          </div><!-- End -->

                                <!-- Accordion item 3 -->
                                <div class="card">
                                  <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                                    <h2 class="mb-0">
                                      <button type="button" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false"
                                        aria-controls="collapseeight"
                                        class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">How to play Fantasy Premier League?</button>
                                    </h2>
                                  </div>
                                  <div id="collapseeight" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                                    <div class="card-body p-5">
                                      <p class="font-weight-light m-0">Playing Fantasy league or a tournament on SportsBuzz11 is really easy. You just need to create your account on an app and then sign in and select the league or tournament of your interest from the app lobby. Choose the stakes and make your team from players of the teams playing in actual league.  Enjoy the game and check your team’s score at the end of game. You’ll be rewarded with cash prizes or other bonuses according to your position on the points-table.</p>
                                    </div>
                                  </div>
                                </div><!-- End -->

                                     <!-- Accordion item 3 -->
                                     <div class="card">
                                      <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                                        <h2 class="mb-0">
                                          <button type="button" data-toggle="collapse" data-target="#collapsenine" aria-expanded="false"
                                            aria-controls="collapsenine"
                                            class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">How does the Fantasy Premier Leagues work?</button>
                                        </h2>
                                      </div>
                                      <div id="collapsenine" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                                        <div class="card-body p-5">
                                          <p class="font-weight-light m-0">Fantasy Premier Leagues works on the same principle as the real game, just virtually. You make your team by selecting the best players from both the teams in an actual match for a stake you prefer. The real match takes place and at the end of it, you get points according to the performance of the players in the real match. Your score on the point table earns you awards or cash, as per your team’s performance.</p>
                                        </div>
                                      </div>
                                    </div><!-- End -->

                                       <!-- Accordion item 3 -->
                                       <div class="card">
                                        <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                                          <h2 class="mb-0">
                                            <button type="button" data-toggle="collapse" data-target="#collapseten" aria-expanded="false"
                                              aria-controls="collapseten"
                                              class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">How to register?</button>
                                          </h2>
                                        </div>
                                        <div id="collapseten" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                                          <div class="card-body p-5">
                                            <p class="font-weight-light m-0">You can register using your mobile number, on which you will receive an OTP for your initial registration on the app.</p>
                                          </div>
                                        </div>
                                      </div><!-- End -->

                                         <!-- Accordion item 3 -->
                                     <div class="card">
                                      <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                                        <h2 class="mb-0">
                                          <button type="button" data-toggle="collapse" data-target="#collapseeleven" aria-expanded="false"
                                            aria-controls="collapseeleven"
                                            class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">Why am I unable to log in to my account?</button>
                                        </h2>
                                      </div>
                                      <div id="collapseeleven" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                                        <div class="card-body p-5">
                                          <p class="font-weight-light m-0">Please check if you are entering the details like the phone number correctly. If the problem still persists, please try again later. In case of scheduled maintenance, please be patient. We are working hard to give you a safe, secure & quality service. These maintenance sessions help us serve you better.</p>
                                        </div>
                                      </div>
                                    </div><!-- End -->

                                       <!-- Accordion item 3 -->
                                       <div class="card">
                                        <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                                          <h2 class="mb-0">
                                            <button type="button" data-toggle="collapse" data-target="#collapsetwel" aria-expanded="false"
                                              aria-controls="collapsetwel"
                                              class="btn btn-link collapsed text-dark font-weight-bold collapsible-link">Can I refresh/alter my data?</button>
                                          </h2>
                                        </div>
                                        <div id="collapsetwel" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                                          <div class="card-body p-5">
                                            <p class="font-weight-light m-0">Any attempt/kind of tampering or deletion of data is against our terms of service. We aim to provide accurate data to our users including data about their past games & transactions. Therefore, any alteration is unacceptable.</p>
                                          </div>
                                        </div>
                                      </div><!-- End -->
                  
                        </div><!-- End -->
                      </div>
                    </div>
                  </div>



              </div>



          

        </div>
    </div>
</section>
