<section class="section-footer desktop-visible">
    <div class="container text-left">
        <div class="row">

            <div class="about-section">
                <h2>About Us</h2>


                <p>This Terms of Use govern your use of the website, Materials, Your Content and the services offered through <a data-fr-linked="true" href="//www.cricbuzz.com">www.cricbuzz.com</a> (&quot;Site&quot;). For the purpose of these Terms of Use, wherever the context so require &quot;you&quot; or &quot;your&quot; or &quot;user&quot; shall mean any natural or legal person who has agreed to become a member of the Site by registering on the Site as registered user or browses the Site. Your access or use of the Site is subject to the terms and conditions of use as set out here (Terms of Use) and the Privacy Policy made available at <a data-fr-linked="true" href="//www.cricbuzz.com/info/privacy">www.cricbuzz.com/info/privacy</a></p>
               
                <p>Please note that by accessing or using the Site you agree to be bound by the Terms of Use and the Terms of Use is a legally binding agreement between you and us TIMES INTERNET LTD, the owner of the Site (&quot;Company&quot;).</p>
                <p>USER REGISTRATION</p>
                
                <p>You may use the Site without registration however, to participate in certain activities of the Site you may be required to create an account or you can login through your Facebook account or any other third party service account permitted by the Site. In the event you wish to create an account with us you may do so by completing the registration process. You agree to a) provide true, accurate, correct and complete information as prompted by the applicable registration form b) maintain and update true, accurate, correct and complete information provided by you during the registration process. You may be required to choose a password and user name. You are solely responsible for maintaining the confidentiality of your password and account.</p>
                
                <p>If at any time Company believes that your account and password is being misused in any manner, or that the information provided by you during the registration process is not true, inaccurate or incomplete the Company reserves the right to cancel your account and block your access to Site.</p>
                
                <p>You are entirely responsible for any and all activities that occur under your account. You agree to notify the Company of any unauthorised use of your account or any breach of security. Company will not be liable for any loss that you may incur as a result of someone else using your password or account or your failure to comply with this section.</p>
                
                <p>By registering for an account with us you give us permission to send you mailers on different promotions, deals or offers running on the platform and content published or upcoming including but not limited to articles and videos. From the said mailers you can at any time unsubscribe and opt out of receiving such mails after which you will not be sent such mailers.</p>
                
                <h3>USE OF THE SITE</h3>
                
                <p>All materials provided on this site, including but not limited to all information, materials, functions text, logos, designs, graphics, images, sounds, software, documents, products and services (collectively, the &quot;Materials&quot;), and the selection, arrangement and display thereof, are the copyrighted works of the Company/or its vendors or suppliers. All Materials herein and all Company software are proprietary to Company and protected by worldwide copyright and other intellectual property laws. Except as stated herein, none of the Materials may be modified, copied, reproduced, distributed, republished, downloaded, displayed, sold, compiled, posted or transmitted in any form or by any means, including but not limited to, electronic, mechanical, photocopying, recording or other means, without the prior express written permission of the Company.</p>
                
                <p>Company hereby grants you the right to access and use the Site only for your personal and non-commercial use. You may not use the Site for commercial purposes or in any way that is unlawful, or harms us or any other person or entity, as determined in our sole discretion.</p>
                
                <p>You may post/share links/images/text content on the site on social platforms like Facebook, Twitter, Google+, Pinterest, with appropriate link-back to the original source.</p>


              </div>

        </div>
    </div>
</section>
