.termsandCondition-section {
    padding: 50px;
    text-align: left;
    margin-top: 45px;

  }

  .row-space {
    margin-top: 20px;
  }

  .fontsize{
    font-family: Poppins;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
  }