/* You can add global styles to this file, and also import other style files */
input.w-10 {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #fff !important;
    height: 40px;
}

.terms_condition_label {
    width: 794px;
    height: 70px;
    left: 312px;
    top: 193px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    
    color: #000000;
}

@media only screen and (min-device-width: 768px) {
.responsive-navbar-nav {
    background: lightblue;
    }
  }

